body {
    margin: 0;
    font-family:"Roboto";
    font-size: 15px;
    padding-top: 70px;
}


.navbar {
    font-family: 'Lexend';
    font-size: 20px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
    
}

.border {
    border-color: black;
}

@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
    }

    .navbar .logo {
        display: block;
        float: none;
    }

    #body-content {
        margin-top: 200px;
    }
}

@media screen and (min-width: 601px) {
    .navbar a.nav-right {
        float: right;
    }
}

#col-lg-3 {
    padding: 0;
}